/* mobile      */
@media  (min-width:0px)and (max-width:480px)
{
    .navbarcontainer
    {
        display:flex;
        flex-direction:column;
        height: auto;

     }
     .text{
        margin-top: 5%;

     }
     .textcontainer
     {
       font-size: 15px;
       line-height: 15px;
       letter-spacing: 10px;
     }
     .navbar
     {
        height: auto;
     }
    .logo
    {
        margin-top: 20px;
    }
    .menu ul
    {
        display: flex;
       
        
    }
    .menu
    {
        height: auto;
    }
    .menu ul li
    {
        margin-top: 20px;
        
    }
    .footer
    {
        height: 50px;
    }
   
    .gallerycontainer
    {
       display: flex;
       flex-direction: column;
       margin-top: -30%;
    }
    .gallerycontainer .img1
{
    width: 90%;
    height: 300px;
    margin-top: 5px 0px;
    align-items: center;
   
}
.img2
{
    height: 300px;
    width: 100%;
}
.img2 img
{
    height: 300px;
    width: 100%;

}
.img2 img:hover{
    height: 300px;
}
.footer
{
    margin-top: 10%;
}
}

/* teblate */
@media (min-width:481px) and (max-width:768px)
{
    .gallerycontainer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20%;
    }
    .gallerycontainer .img1
    {
        width: 46.5%;
        height: 300px;
        margin-top: 5px 0px;
        align-items: center;
       
    }
    .text{
        margin-top: 5%;

     }
     .textcontainer
     {
       font-size: 15px;
       line-height: 15px;
       letter-spacing: 10px;
     }
    .img2
    {
        height: 300px;
        width: 100%;
    }
    .img2 img
    {
        height: 300px;
        width: 100%;
    
    }
    .img2 img:hover{
        height: 300px;
    }
    

}
